html,
body {
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.parent-container,
#root {
  width: 100%;
  height: 100%;
}

.login-view-form {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
  text-align: center;
  width: 850px;
  background-color: white;
  border-radius: 14px;
  padding: 50px;
  display: flex;
}

#login-view-image {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#login-form-image {
  width: 450px;
  height: 400px;
}

.login-form-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

#course-box-img {
  width: 100%;
  height: 100px;
}

.dashboard-course-box {
  margin: 40px;
}

.dashboard-course-container {
  width: 50%;
  padding: 40px;
}

.dashboard-content {
  display: flex;
  flex-direction: row;
}

.calendar-container {
  width: 50%;
  padding: 40px;
  margin: 40px;
}

.react-calendar {
  position: fixed;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 800px;
}

.btn.btn-secondary {
  background-color: #007bff;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
}

.btn.btn-secondary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}


.btn.btn-primary {
  background-color: #007bff;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
}

.card-title {
  letter-spacing: 1px;
  margin: 10px 0;
  font-size: 1.5em;
}

.card-subtitle {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p.card-text {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.react-calendar {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn.btn-course {
  background-color: #007bff;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
  margin: 1em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn.btn-course:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

#find-course-icon {
  width: 50px;
}


#dashboard-icons {
  display: flex;
  position: fixed;
  bottom: 40px;
  right: 40px
}

.course-box.btn.btn-secondary {
  background-color: #007bff;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
}

.btn.btn-danger {
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
  margin: 1em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn.btn-info {
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
  margin: 1em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
